a.tag {
  background-color: #033743;
  padding: 1px 5px 1px 5px;
  border-radius: 5px;
  color: #40E0D0;
}

a.external-link::before {
  content: "🌐 ";
  color: #7DF9FF;
}

h1,h2,h3 {
  color: #FFA447;
}

b {
  color: #D16AFF;
}

.graph-view-nav {
  display: none;
}

.all-pages-nav {
  display: none;
}

:root:not(.is-native-android) .ls-block[haschild="false"][level="1"]:not([data-refs-self*="@"]) > div > div > a > .bullet-container {
    display: none !important;  
}
