a.tag {
  background-color: #033743;
  padding: 1px 5px 1px 5px;
  border-radius: 5px;
  color: #40E0D0;
}

a.external-link::before {
  content: "🌐 ";
  color: #7DF9FF;
}

h1,h2,h3 {
  color: #FFA447;
}

b {
  color: #D16AFF;
}
